/.quarto/
data/lightcast_job_postings.csv
lightcast_job_postings.zip
lightcast_updated.csv
data/eda_data.csv
data/lightcast_job_postings_cleaned.csv
eda_new.csv

analytics_model.ipynb
/data/df.parquet
data/new_eda_data.csv
eda_data.csv
lightcast_job_postings.csv

